# Dependances
node_modules/
/.pnp
.pnp.js

# Build
dist/
/tmp
/out-tsc
*.tsbuildinfo

# IDE - WebStorm / VS Code
.idea/
.junie/
.vscode/
*.swp
*.swo
*.swn

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local